<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Express</title>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="/">Express</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/crews">Crews</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/arcs">Arcs</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

        <div class="container">
            <div class="row">
              <div class="col-sm-3 mt-3">
                <div class="card">
                    <img src="https://i.pinimg.com/736x/97/26/08/972608c82bd561312153a3d36a6f0bef.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Monkey D Luffy</h5>
                      <p class="card-text">Luffy adalah seorang pria muda yang terkenal karena topi jerami khasnya (dari mana ia mendapat julukan "Topi Jerami Luffy"), yang dipinjamkan kepadanya ketika ia masih muda oleh kapten bajak laut legendaris, "Rambut Merah" Shanks, yang pada gilirannya menerimanya dari Gol D. Roger. Dia memakai celana pendek biru dengan manset, sandal, dan rompi merah tanpa lengan. Luffy juga memiliki bekas luka dengan dua jahitan di bawah mata kirinya</p>
                    </div>
                  </div>
              </div>
              <div class="col-sm-3 mt-3">
                <div class="card">
                    <img src="https://i.pinimg.com/originals/6b/c3/0f/6bc30f954a2dc7149daba9282be43673.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Roronoa Zoro</h5>
                      <p class="card-text">Zoro adalah pria tinggi berotot dengan kulit berwarna coklat cerah. Dia selalu membawa ketiga pedangnya, terbungkus dengan haramaki berwarna hijau di atas pinggul kanannya, sehingga dia dengan mudah menarik pedang menggunakan tangan kiri.</p>
                    </div>
                  </div>
              </div>
              <div class="col-sm-3 mt-3">
                <div class="card">
                    <img src="https://i.pinimg.com/originals/5f/5d/2a/5f5d2ae26d1bcdc0408a4216e30327c1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Nami</h5>
                      <p class="card-text">Nami adalah seorang gadis muda yang menarik, tinggi sedang dan bertubuh langsing dengan rambut oranye sebatas leher dan mata cokelat muda. Dia memiliki tato baling-baling dan jeruk mikan di bahu kiri, menggantikan lambang bajak laut Arlong, tato lamanya yang ia pakai saat masih menjadi anggota bajak laut Arlong.</p>
                    </div>
                  </div>
              </div>
              <div class="col-sm-3 mt-3">
                <div class="card">
                    <img src="https://i.pinimg.com/originals/d2/80/b3/d280b334747451a0de6a4a7624418793.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">God Usopp</h5>
                      <p class="card-text">Usopp adalah remaja kurus berkulit sawo matang dengan rambut hitam panjang sedang, bibir menonjol dan hidung panjang, yang tampaknya merupakan singgungan kepada Pinocchio.</p>
                    </div>
                  </div>
              </div>
              <div class="col-sm-3 mt-3">
                <div class="card">
                    <img src="https://i.pinimg.com/originals/7d/98/13/7d98135694cbe63a07f0f2b25f1d7c55.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Vinsmoke Sanji</h5>
                      <p class="card-text">Vinsmoke Sanji adalah seorang pemuda yang bertubuh tipis namun kekar, berkaki panjang dan berambut pirang. Ciri khas Sanji adalah rambut pirangnya yang melambai hingga ke muka menutupi salah satu mata. Pada awal seri, hanya mata kanan yang terlihat. Namun setelah timeskip, gaya rambutnya berubah memperlihatkan mata kiri sekaligus menutupi mata kanannya. Ciri lainnya adalah alis yang berbentuk spiral, tetapi masing-masing alis memiliki ujung yang berbeda. Alis kanan membentuk spiral di ujung sedangkan alis kiri membentuk spiral di pangkal. Selain itu, ia sangat menyukai rokok dan hampir selalu terlihat menyalakan rokok dalam situasi apapun.</p>
                    </div>
                  </div>
              </div>
              <div class="col-sm-3 mt-3">
                <div class="card">
                    <img src="https://i.pinimg.com/originals/01/cb/93/01cb93670fc2a11d340925578111f507.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Tony Tony Chopper</h5>
                      <p class="card-text">Hampir dalam sebagian besar waktunya, Chopper berwujud manusia kecil setengah rusa. Dalam bentuk tersebut, ia berjalan dengan dua kaki, namun keseluruhan bagian tubuhnya berasal dari bentuk rusa, seperti; memiliki bulu, bentuk hidung, tangan dan kaki serta memiliki tanduk.</p>
                    </div>
                  </div>
              </div>
              <div class="col-sm-3 mt-3">
                <div class="card">
                    <img src="https://i.pinimg.com/originals/71/a4/56/71a456766c2932d736d58957493c5a8e.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Nico Robin</h5>
                      <p class="card-text">ico Robin adalah seorang wanita dewasa yang sangat menarik dengan tinggi semampai, bertubuh ramping dan berambut hitam sebahu. Rambutnya menjadi lebih panjang saat berkumpul kembali dengan kru topi jerami dua tahun kemudian. Matanya berwarna biru dengan pupil lebar, berhidung mancung dan tipis, serta berkulit sedikit gelap. Seperti halnya Nami, Robin sangat menyukai fashion dan sering berganti-ganti pakaian. Ia tidak memiliki semacam pakaian yang menjadi ciri khusus, namun sepertinya terlihat jika ia lebih menyukai pakaian dengan warna dominan ungu atau bernuansa gelap. </p>
                    </div>
                  </div>
              </div>
              <div class="col-sm-3 mt-3">
                <div class="card">
                    <img src="https://i.pinimg.com/236x/44/df/f3/44dff37711e1f921f57204a62bcd9d76.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Franky</h5>
                      <p class="card-text">Franky adalah seorang cyborg dengan tubuh yang besar dan kekar. Tingginya mencapai 225 cm menjadikannya kru topi jerami tertinggi kedua setelah Brook. Ia memiliki rambut biru yang disisir rapi ala "Elvis" dan tato motif bintang biru di kedua lengan. Ia terbiasa hanya mengenakan celana dalam sehari-hari, dan sebuah kemeja santai ala pantai yang dibiarkan terbuka tak dikancing dan sebuah kalung rantai emas sebagai aksesoris.</p>
                    </div>
                  </div>
              </div>
              <div class="col-sm-3 mt-3">
                <div class="card">
                    <img src="https://i.pinimg.com/originals/f0/dd/f9/f0ddf9a53f382de82eddde3921e2c3c9.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Brook</h5>
                      <p class="card-text">Brook adalah tengkorak hidup yang sangat tinggi dengan rambut keriting hitam tebal bergaya afro. Karena seorang tengkorak, ia tidak memiliki organ tubuh lain selain hanya tulang dan rambut afronya.</p>
                    </div>
                  </div>
              </div>
              <div class="col-sm-3 mt-3">
                <div class="card">
                    <img src="https://images8.alphacoders.com/100/1009145.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Jinbe</h5>
                      <p class="card-text">Jinbe adalah seorang mermen spesies hiu paus yang bertubuh besar dan gemuk, mirip dengan penampilan pegulat sumo. Karakter wajahnya dibuat mirip mitologi setan bangsa jepang seperti "oni"; seperti alis kuning dan bentuk cambang, serta hidung besar dan sudut bibir bawah mengarah ke atas. Ia juga memiliki sepasang taring besar yang memanjang ke atas hingga keluar mulut dari gigi bagian bawah dan bentuk telinganya lancip pada bagian atas. </p>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>
